<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--
		<add name="FootyLinks"
		 connectionString="Application Name=footylinks;Data Source=MIKE-VAIO;;Database=footylinks;User Id=footylinksuser;Password=34tMyG04l;" providerName="System.Data.SqlClient" />
		-->
		<add name="FootyLinks" connectionString="Data Source=C:\_Development\FootyLinks\Database\footylinksV2.db;Version=3"/>
	</connectionStrings>
</configuration>